.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f6f6f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

.input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.checkbox:checked + .label span {
  text-decoration: line-through;
  opacity: 0.5;
}

.label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding: 10px;
}

.editInput {
  display: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  margin-right: 10px;
}

.listItem:hover .deleteButton {
  opacity: 1;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
